react-frontend/.gitignore
# Fichiers de configuration système
*.pyc
*.pyo
*.pyd
__pycache__/

Zone.Identifier
__Pycache__
__Pycache__


# Fichiers de sauvegarde et fichiers temporaires
*.bak
*.swp
*~

# Environnements virtuels
venv/

.env
.flake8
HOB_env
__pycache__
_init__.py


node_modules
zone.identifier

